:root {
  --color-background: #17252A;
  --color-font: #FEFFFF;
  --color-status: #8efff0;
  --color-mode-selected: #8efff0;
  --color-mode-unselected: #8ecbc4;

  --button-border: 2px ridge;
  --button-border-radius: 4px;
}

* {
  color: var(--color-font);
  font: 14px "Century Gothic", Futura, sans-serif;
}

body {
  background-color: var(--color-background);
  text-align: center;
}

button, input {
  border: 2px ridge;
  border-radius: 5px;
  background-color: var(--color-background);
}

/* Temp Display */

#temp-display {
  padding: 10px;
}

#temp-inside {
  font-size: 42px;
}

#temp-outside {
  font-size: 12px;
}

/* Status */

.status * {
  color: var(--color-status);
}

.status .mode{
  font-size: 24px;
}

/* Select Mode */

.mode-dropdown {
  position: relative;
  display: inline-block;
  margin: 10px 10px;
  min-width: 110px;
  border: var(--button-border);
  border-radius: var(--button-border-radius);
}

.mode-dropdown * {
  cursor: pointer;
  color: var(--color-background);
}

.mode-dropdown button {
  padding: 10px;
  border: none;
}

.mode-dropdown:hover .mode-content {display: block;}

.mode-selected, .mode-selected * {
  background-color: var(--color-mode-selected);
}

.mode-unselected, .mode-unselected * {
  background-color: var(--color-mode-unselected);
}

.mode-content {
  display: none;
  position: absolute;
  background-color: var(--color-font);
  min-width: 100px;
  overflow: auto;
  z-index: 1;
}

.mode-content div {
  background-color: var(--color-mode-font);
  padding: 14px 0px 14px 0px;
  display: block;
  min-height: 30px;
}

.mode-content div:first-of-type {
  border-bottom: 2px outset grey;
}

.mode-content div:hover {
  background-color: var(--color-mode-selected);
}

/* Recent Activity */

#activity-dropdown {
  background-color: var(--color-background);
}

#activity-table{
  margin-left: auto;
  margin-right: auto;
}

#activity tr {
  border: solid;
  border-width: 1px 0;
}

#activity tr * {
  font-size: 14px;
}

#activity tr #activity-mode {
  color: var(--color-mode-selected);
}

#activity tr td {
  padding: 8px 0;
  text-align: left;
}

#activity table tr td:empty {
  width: 30px;
}

/* Schedule Modal */

#schedule-modal {
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 50%;
  left: 50%;
  width: 200px; /* Full width */
  height: 200px; /* Full height */
  overflow: auto;
  transform: translate(-50%, -50%);
  background-color: var(--color-font);
  padding: 10px;
  border-radius: 10px;
}

#schedule-modal * {
  font-size: 12px;
}

#schedule-modal td {
  color: var(--color-background);
  text-align: right;
  padding-right: 10px;
}

#schedule-modal td:nth-child(1) {
  text-align: right;
}

#schedule-modal td:nth-child(2) {
  text-align: left;
}

#schedule-modal input {
  padding: 10px;
  color: var(--color-font);
}

#schedule-modal > div {
  position: relative;
  height: 100%;
}

#schedule-modal tr, #schedule-modal table {
  table-layout: fixed;
  width: 100%;
}

.schedule-modal-time {
  margin: 5px
}

#schedule-modal-buttons {  
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#schedule-modal-buttons button {
  text-align: center;
  color: var(--color-font);
  padding: 10px;
  margin: 5px 5px 0px 5px;
}
