:root {
  --color-background: #17252A;
  --color-font: #FEFFFF;
  --color-status: #8efff0;
  --color-mode-selected: #8efff0;
  --color-mode-unselected: #8ecbc4;
}

* {
  color: var(--color-font);
  font: 14px "Century Gothic", Futura, sans-serif;
}

body {
  background-color: var(--color-background);
  text-align: center;
}

.react-dropdown-select-item {
  border-color: var(--color-background);
  min-height: 40px;
}

::placeholder {
  opacity: 1;
  color: var(--color-background);
}

/* Temp Display */

.temp-display {
  padding: 10px;
}

.temp-inside {
  font-size: 42px;
}

.temp-outside {
  font-size: 12px;
}

/* Status */

.status * {
  color: var(--color-status);
}

.status .mode{
  font-size: 24px;
}

/* Select Mode */

.mode-dropdown {
  position: relative;
  display: inline-block;
  margin: 10px 10px;
  min-width: 110px;
  border: 2px ridge;
  border-radius: 4px;
}

.mode-dropdown * {
  cursor: pointer;
  color: var(--color-background);
}

.mode-dropdown button {
  padding: 10px;
  border: none;
}

.mode-dropdown:hover .mode-content {display: block;}

.mode-selected, .mode-selected * {
  background-color: var(--color-mode-selected);
}

.mode-unselected, .mode-unselected * {
  background-color: var(--color-mode-unselected);
}

.mode-content {
  display: none;
  position: absolute;
  background-color: var(--color-font);
  min-width: 100px;
  overflow: auto;
  z-index: 1;
}

.mode-content div {
  background-color: var(--color-mode-font);
  padding: 14px 12px;
  display: block;
  min-height: 30px;
}

.mode-content div:first-of-type {
  border-bottom: 2px outset grey;
}

.mode-content div:hover {
  background-color: var(--color-mode-selected);
}

/* Recent Activity */

.activity-dropdown {
  background-color: var(--color-background);
}

.activity-table{
  margin-left: auto;
  margin-right: auto;
}

tr {
  border: solid;
  border-width: 1px 0;
}

tr * {
  font-size: 14px;
}

tr .activity-mode {
  color: var(--color-mode-selected);
}

tr td {
  padding: 8px 0;
  text-align: left;
}

table tr td:empty {
  width: 30px;
}
