* {
  color: white;
  font: 18px "Century Gothic", Futura, sans-serif;
}

body {
  background-color: #263238;
  text-align: center;
}

.tempDisplay {
  padding: 10px;
}

.status {
  padding: 10px;
}

.selectMode {
  display: flex;
  justify-content: center;
}

.selectMode * {
  color:black;
}

.selectMode > * {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  font-size: 16px;
  text-align: left;
  flex-grow: 0.1;
  flex-basis: 0;
}

::placeholder {
  opacity: 1;
  color:black;
}

.modeSelected {
  background-color: yellow;
}

.modeUnselected {
  background-color: rgb(255, 93, 43);
}

.react-dropdown-select-item {
  background-color: rgb(228, 180, 23);
  border-color: black;
}